.bodys {
  border: 4px, blueviolet;
  border-radius: 30px;
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
  border-bottom: 20px;
}
h1{
  color: red;
  font-style: italic;
  background-color: blue;
  border-radius: 30px;

  border-left: 20px;
  border-right: 20px;

}
h3{
  color: blue;
  font-style: unset;
  background-color: red;
  border-radius: 30px;
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
  border-bottom: 20px;

}
p{
  color:rgb(132, 0, 255);
  border-radius: 30px;
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
  border-bottom: 20px;
}
.quizing{
  font-size: 50px;
  border-radius: 30px;
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
  border-bottom: 20px;

}